.upload__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#preview{

}
#startBtn{
    margin-top: 5px;
    border-radius: 5px;
    padding: 12px 20px;
    background-color: white;
    color: rgba($color: $red, $alpha: 1);
    text-align: center;
    cursor: pointer;
    display: block;

}