extends partials/layout

block content
    h4 Chang Title of story 
    form(method="POST")
        input(placeholder="Story Title" name="title" value=`${story.title}` required)
        input(value="Save" type="submit")