extends partials/layout
include mixins/story

block content
    div.video-grid
        each item in storyDatas
            +story(item)
            +story(item)
            +story(item)
            +story(item)
            +story(item)
            +story(item)
            +story(item)
            +story(item)
            +story(item)
        else
            span.empty__message No stories found.