extends partials/layout
include mixins/story

block content 
    form(action="", method="GET").search__form
        input(type="text", name="keyword", required, placeholder="Enter Keyword")
        button
            i.fas.fa-search

    div.video-grid
        each item in storyDatas
            +story(item)
        else
            span.empty__message No stories found.