extends partials/layout
include mixins/story

block content 
    form(action="", method="GET")
        input(type="text", name="keyword", required, placeholder="Enter Keyword")
        input(type="submit", value="Search Now!")

    each item in storyDatas
        +story(item)
    else
        li Sorry, nothing found.