doctype html
html(lang="ko")
    head
        include header.pug
    body
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home
                    li 
                        a(href="/stories/search") Search
                    if loggedIn
                        li
                            a(href="/logout") Logout
                        li
                            a(href="/users/my-profile") #{loggedUser.name}'s profile
                        li
                            a(href="/stories/upload") Upload Story
                    else 
                        li
                            a(href="/login") Login
                        li 
                            a(href="/join") Join 
        main
            block content
    include footer.pug