extends ../partials/layout.pug

block content 
    form(method="post")
        input(type="password", name="oldPassword", placeholder="Old Password")
        input(type="password", name="newPassword", placeholder="New Password")
        input(type="password", name="confirmPassword", placeholder="Confirm Password")
        input(type="submit", value="Change Password")